-- Production

USE [docs372]
ALTER TABLE [DOCSADM].[SECURITY] REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)
ALTER TABLE [DOCSADM].[ACTIVITYLOG_ARCHIVE] REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)
ALTER TABLE [DOCSADM].[ACTIVITYLOG] REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)

ALTER TABLE [DOCSADM].[PD_THES_SECURITY] REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)
ALTER TABLE [DOCSADM].VERSIONS REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)
ALTER TABLE [DOCSADM].PD_FILE_TREE REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)


ALTER TABLE [DOCSADM].[PD_FILE_PART] REBUILD PARTITION =ALL WITH (DATA_COMPRESSION = PAGE, ONLINE=ON)

